.DS_Store
*.pyc
*.egg-info
*.swp
tags
node_modules
__pycache__

# Generated PWA manifest & Assets
verto/public/verto-mobile/manifest.webmanifest
verto/public/verto-mobile/assets/

# Planner build output
/verto/public/planner/assets/
/verto/public/planner/index.html
/verto/www/planner.html

# Frappe-generated build assets
verto/public/dist/
