@import "../node_modules/frappe-ui/src/style.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --mobile-bottom-tabs-height: calc(68px + env(safe-area-inset-bottom));
}

html,
body,
#app {
  min-height: 100%;
}

body {
  margin: 0;
  background: #f9fafb;
}